

.inputTextField {
    border-radius: 10px;
    padding: 1em;
	background: none;
	border: 1px solid #1d3a3c;
	outline: none;
	font-family: 'Limelight', cursive;
    color: white;
    font-family: customFont;
    width: 100%;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.inputTextField::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #dbd4d4;
    opacity: 1; /* Firefox */
    font-family: customFont;
    font-family: 'Times New Roman', Times, serif;
}


