.timeBlock {
    position: relative;
    margin-bottom: 30px;
}

.timeBlock .time {
    position: absolute;
    top:0px;
    left:-150px;
    font-size: 1.5em;
}

.timeBlock .time::after {
    content: "";
    position: absolute;
    top:0;
    left:63px;
    background-color: #E4FFE6;
    opacity: 0.8;
    border-radius: 30px;
    width:30px;
    height: 30px;
    border: 3px solid #68776C;
}

.timeBlock .title {
    position: absolute;
    width: 120px;
    top: 40px;
    left: -170px;
    line-height: 1em;
    font-size: 0.9em
}

.timeBlock .activities {
    padding-top: 20px;
}

.timeBlock .activities .activity {
    position: relative;
    padding: 5px 0;
}

.timeBlock .activities .activity::before {
    position: absolute;
    top:5px;
    left:-40px;
    content: "";
    border-left: 20px solid transparent;
    border-top: 20px solid #68776C;
    transform: rotate(45deg);
}